.gallery {
  flex-wrap: wrap;
  width: 100%;
}

.gallery__img {
  height: 80px;
  width: 60px;
  margin-top: var(--gap-m);
  margin-right: var(--gap-m);
  cursor: pointer;
  transition: .5s;
  &:hover {
    box-shadow: var(--shadow-xl);
  }
}

@media (max-width: 1180px) {
  .gallery__img {
    height: 70px;
    width: 50px;
  }
}